@model IEnumerable<veterinaria.web.Models.Pet>

@{ ViewBag.Title = "Index"; }
<div class="row justify-content-center m-3">
    <h5 class="m-0 text-dark">Mis Mascotas</h5>
</div>
<hr />
<p class="m-4">
    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
        <span class="icon btn-icon-split"><i class="fas fa-plus-circle"></i></span>
        <span class="text"> Agregar Mascota</span>
    </a>
</p>

<div class="row justify-content-center m-3">
    @foreach (var item in Model)
    {
<div class="col-xl-3 col-md-6 mb-4">
    <a href="@Url.Action("Details","Pets",new {id=item.Id })">
        <div class="card border-left-primary shadow h-100 py-2 bg-info">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs  text-white text-uppercase mb-1">@item.Name</div>
                        <div class="h5 mb-0 font-weight-bold text-white">@item.PetType</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-paw fa-2x text-white"></i>
                    </div>
                </div>
            </div>

        </div>
    </a>
</div>}

</div>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-title bg-info">
                <h6 class="text-center">Nueva Mascota</h6>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("Create","Pets")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Nombre</label>
                                <div class="col-md-10">
                                    <input type="text" name="Name" value="" placeholder="Nombre de la Mascota" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6">Tipo de Mascota</label>
                                <div class="col-md-10">
                                    <input type="text" name="PetType" value="" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Edad</label>
                                <div class="col-md-10">
                                    <input type="number" name="Age" value="" placeholder="0" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-6">Fecha de Nacimiento</label>
                                <div class="col-md-10">
                                    <input type="date" name="BirthDate" value="" class="form-control" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Color</label>
                                <div class="col-md-10">
                                    <input type="text" name="Color" value="" placeholder="Escriba el color de su mascota" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-12">Raza</label>
                                <div class="col-md-10">
                                    <input type="text" name="Raza" value="" placeholder="Escriba la raza de su mascota" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Peso</label>
                                <div class="col-md-10">
                                    <input type="text" name="Weight" value="" placeholder="0.0" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2">Altura</label>
                                <div class="col-md-10">
                                    <input type="text" name="Height" value="" placeholder="0.0" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        Fotografia
                        <div class="col-md-10">
                            <input type="file" name="hpb" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>